@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--color-base-content);
  margin-bottom: 0.25rem;
}

.words {
  color: var(--color-primary);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
  font-weight: 500;
}
