@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--color-base-content);
  margin-bottom: 0.25rem;
}
