.container {
  height: calc(100dvh - 32px);
  padding: 0.5rem;
}

.calc-tabs .tab.calc-tab {
  /* width: calc(100dvw / 5); */
  max-width: 90px;
  padding: 0 16px;
}

.tabs-lift > .tab.tab-active:not(.tab-disabled):not([disabled]):before,
.tabs-lift > .tab:is(input:checked):before {
  content: none;
}
.chart-container,
.mf-container {
  height: 240px;
  margin-bottom: 0.5rem;
}
.mf-container {
  overflow-y: auto;
}

.fund-name {
  white-space: nowrap;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-picker .label {
  line-height: 1;
}
#navigation-drawer nav h3 {
  color: color-mix(in srgb, var(--color-primary) 40%, rgb(255, 255, 255));
  font-size: 1rem;
}
#navigation-drawer nav a {
  display: block;
  padding: 0.25rem 0 0.25rem 2rem;
  text-decoration: none;
  color: inherit;
}
.mf-display-grid > div {
  border: 1px solid var(--color-primary);
  border-bottom: 0 none;
}

.mf-display-grid > div:first-child {
  border-bottom-left-radius: 0;
}
.mf-display-grid > div:nth-child(2) {
  border-top-right-radius: 0.5rem;
}
.mf-display-grid > div:nth-child(7) {
  border-bottom-left-radius: 0.5rem;
  border-bottom: 1px solid var(--color-primary);
}
.mf-display-grid > div:last-child {
  border-top-right-radius: 0;
  border-bottom: 1px solid var(--color-primary);
}
