@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
  height: calc(100vh);
}
.calc-tabs .tab-content {
  height: calc(100vh - 80px);
}

.calc-tabs .tab.calc-tab {
  width: calc(100vw / 6);
  max-width: 85px;
}
.calc-tabs .tab.calc-tab::before,
.calc-tabs .tab.calc-tab::after {
}

.tabs-lifted > .tab.tab-active:not(.tab-disabled):not([disabled]):before,
.tabs-lifted > .tab:is(input:checked):before {
  content: none;
}
.chart-container,
.mf-container {
  height: calc(100dvh - 556px);
  min-height: 6rem;
  margin-bottom: 0.5rem;
}
.mf-container {
  overflow-y: auto;
}
.chart-container > .chart {
  padding: 0;
}
